@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100vw;
    /* height: 100vh; */
    background: #efefef;
    overflow-x: hidden;
}

main {
    width: 100%;
    padding: 1rem; /* espacamento interno */
}

/* FORMULARIO */
form {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

/* DIV DOS INPUTS */
.form-group {
    margin: 0.625rem;
}

/* INPUTS */
input {
    border: 1px solid #ececec;
    border-radius: 5px;
    padding: 5px;
}

/* BOTOES */
.botao {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    color: #ccc;
}

#resultadoMedia {
    border: 1px solid #ccc;
    width: 90px;
    text-align: center;
}

#btnEnviar {
    background: #1a237e;
    
}

#btnLimpar {
    background: #ff3d00;
}


#aviso {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
}